body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* .container {
    display: flex;
    max-width: 95%;
    height: 100%;
    margin: 5px 5px;
    padding: 20px;
    background-color: #e7e7e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
} */

.container {
    /* display: flex; */
    /* max-width: 100%; */
    min-height: 500px;
    height: 85vh;
    /* margin: 5px 5px; */
    /* padding: 20px; */
    /* background-color: #e7e7e7; */
    /* background-color: #c7d0f0; */
    background-color: #ebe9e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.container2{
    display: flex;
}
h1{
    font-size: 30px;
    padding: 0px;
    margin: 15px;
    color: #000000;
    text-align: center;
}   

.left, .right {
    height: 500px;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.left {
    border-right: 2px solid black;
}

/* .vertical-line {
    width: 1.5px;
    background-color: #000000;
    position: absolute;
    top: 97px;
    bottom: 18.3px;
    left: 50%;
    transform: translateX(-50%);
} */

.radio-buttons {
    display: flex;
    /* justify-content: space-between;s */
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 20px;
}

.radio-buttons label {
    display: block;
            flex: 0.1;
            text-align: center;
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;

}
.radio-buttons label:hover {
    background-color: #e0e0e0;
}
/* .radio-buttons input {
    margin-right: 5px;
} */

hr {
    border: 0;
    border-top: 1.5px solid #000000;
    margin: 10px 0; 
    /* width: 2px; */
    /* height: 2px; */
}

.add-item h2 {
    margin-bottom: 10px;
    /* margin: 0px; */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    /* flex: 1; */
    padding: 5px;
    box-sizing: border-box;
}

.form-section {
    flex: 1;
    padding-right: 10px;
}

#video {
    flex: 1;
    border: 2px solid black;
}

.studentDetailCon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input_button_class{
    display: flex;
    justify-content: space-between;
}

.input_button_class input{
    padding: 5px 50px;
    /* width: 50px; */
    /* columns: red; */
}

button {
    padding: 10px 45px;
    background-color: #0000ff;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons_class{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 20px;
}

.button_01:hover {
    background-color: #151aaa;
    transform: scale(1.05);
}


.button_01:active {
    background-color:#151aaa;
    transform: scale(0.95);
}

/* button:hover {
    background-color: #151aaa;
} */

table{
    width: 100%;
    /* height: 60vh;  */
    overflow-y: auto;
    border-collapse: collapse;
    /* border: 2px solid black; */
}

table,  th, td {
    border: 1px solid #000000;
}

th,  td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
    display: block;
}

tbody {
    display: block;
    max-height:55vh; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}